.container {
  max-width: 1170px;
  margin: 0 auto;
}
.block-center {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.btn {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 15px 55px;
  transition: all 0.3s ease-in;
}
.btn--black {
  background-color: var(--primary-black);
  color: white;
}
.btn--white {
  color: var(--primary-black);
  border: 1px solid var(--primary-black);
}
.btn--white:hover {
  background-color: var(--primary-black);
  color: white;
}
