.banner {
  position: relative;
}
.banner__contain {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 25px;
}
.banner__contain h1 {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}
.banner__contain p {
  max-width: 420px;
  text-align: center;
  line-height: 1.75;
}
.banner__line {
  width: 45px;
  height: 2px;
  background-color: var(--primary-black);
}
/* Banner lists */
.banner__lists {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 30px;
}
.banner__items {
  position: relative;
}
.banner__items--overlay {
  inset: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(239, 100, 84, 0.1);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.banner__items--overlay h2 {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
}
.banner__items--overlay:hover {
  background-color: rgba(239, 100, 84, 0);
}
.banner__items--overlay > h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -40%;
  width: 100%;
  height: 1px;
  background-color: white;
  opacity: 0;
}
.banner__items--overlay:hover > h2::after {
  opacity: 100%;
}
/* Arrivals */
.arrival {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 60px 0;
}
.arrival__main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.arrival__main h1 {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.arrival__main p {
  text-transform: capitalize;
  text-decoration: underline;
  cursor: pointer;
  font-weight: 500;
}
.arrival__line {
  width: 100%;
  height: 2px;
  background-color: var(--primary-black);
}
/* products */
.product__lists {
  /* display: flex;
  align-items: center;
  justify-content: space-around; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.product__card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.product__image {
  cursor: pointer;
}
.product__icons {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.product__eye-icon,
.product__wishlist-icon {
  width: 35px;
  height: 35px;
  padding: 7px;
  border-radius: 100rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.product__submit,
.product__add {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 15px;
  background-color: white;
  width: 100%;
  transition: all 0.3s ease-in;
  opacity: 0;
}
.product__submit .btn,
.product__add .btn {
  width: 100%;
}
.product__submit {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.product__submit-close {
  position: absolute;
  top: -30px;
  right: 15px;
  width: 20px;
  cursor: pointer;
}
.product__submit p {
  font-weight: 700;
}
.product__submit p span {
  font-weight: normal;
}
.product__size {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.product__size span {
  position: relative;
  cursor: pointer;
  padding: 3px 5px;
}
.product__size span::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: black;
  opacity: 0;
}
.product__size .product__size--active::after,
.product__size span:hover::after {
  opacity: 100%;
}
.product__add:hover,
.product__image:hover + .product__add {
  opacity: 100%;
}
.product__name {
  color: var(--text-gray);
  text-transform: uppercase;
}
.product__price {
  font-size: 14px;
  font-weight: 700;
}
.product__color-options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.product__color {
  width: 30px;
  height: 30px;
  border-radius: 100rem;
  border: 1px solid var(--color-gray);
  padding: 2px;
}
.product__color > div {
  width: 100%;
  height: 100%;
  border-radius: 100rem;
}
.product__color--blue > div {
  background-color: var(--color-blue);
}
.product__color--black > div {
  background-color: var(--color-black);
}
.product__color--gray > div {
  background-color: var(--color-gray);
}
.product__color--yellow > div {
  background-color: var(--color-yellow);
}
.product__color--green > div {
  background-color: var(--color-green);
}
/* gallery */
.gallery {
  background-color: var(--gallery-bg);
  padding: 60px 0;
}
.gallery__ins h1 {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.gallery__slide {
  position: relative;
  margin: 30px 0;
}
.gallery__lists {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 5px;
}
.gallery__item {
  cursor: pointer;
}
.gallery__control-right,
.gallery__control-left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 35px;
  height: 35px;
  border-radius: 100rem;
  border: 1px solid var(--color-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.05);
}
.gallery__control-right svg,
.gallery__control-left svg {
  width: 20px;
}
.gallery__control-left {
  left: -17.5px;
}
.gallery__control-right {
  right: -17.5px;
}
