.banner {
  position: relative;
}
.banner__contain {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 25px;
}
.banner__contain h1 {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}
.banner__contain p {
  max-width: 420px;
  text-align: center;
  line-height: 1.75;
}
.banner__line {
  width: 45px;
  height: 2px;
  background-color: var(--primary-black);
}
/* Banner lists */
.banner__lists {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 30px;
}
.banner__items {
  position: relative;
}
.banner__items--overlay {
  inset: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(239, 100, 84, 0.1);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.banner__items--overlay h2 {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
}
.banner__items--overlay:hover {
  background-color: rgba(239, 100, 84, 0);
}
.banner__items--overlay > h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -40%;
  width: 100%;
  height: 1px;
  background-color: white;
  opacity: 0;
}
.banner__items--overlay:hover > h2::after {
  opacity: 100%;
}
/* Arrivals */
.arrival {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 60px 0;
}
.arrival__main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.arrival__main h1 {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.arrival__main p {
  text-transform: capitalize;
  text-decoration: underline;
  cursor: pointer;
  font-weight: 500;
}
.arrival__line {
  width: 100%;
  height: 2px;
  background-color: var(--primary-black);
}
