.footer {
  background-color: var(--primary-black);
  color: white;
}
.footer__menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr) 40%;
  padding: 40px 0;
}
.footer__lists h1 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.footer__item {
  color: var(--color-gray);
  text-transform: capitalize;
  margin-bottom: 15px;
}
.footer__search-box {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer__input {
  padding: 15px;
  border: 1px solid var(--color-gray);
  width: 285px;
}
.footer__search-box button {
  padding: 18px 35px;
}
.footer__media-lists {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 35px;
}
.footer__media-item {
  width: 35px;
  height: 35px;
  background-color: white;
  border-radius: 100rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.footer__media-item svg {
  width: 15px;
}
.footer__media-item:first-child svg {
  width: 10px;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0 55px;
}
.footer__bottom div p {
  color: var(--color-gray);
}
.footer__creditcard-lists {
  display: flex;
  align-items: center;
  gap: 15px;
}
