.offer {
  padding: 12px 0;
  color: var(--text-red);
  background-color: var(--primary-pink);
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 110px;
  /* overflow: hidden; */
}
.offer span {
  font-weight: 700;
}
.offer__item {
  display: flex;
  align-items: center;
  gap: 5px;
}
.offer__item svg {
  width: 10px;
  fill: var(--text-red);
}
.header__top {
  padding: 18px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}
.header__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 20px;
}
.header__mobile-controls {
  display: none;
}
.header__menu-icon {
  cursor: pointer;
  width: 40px;
}
.header__top > .header__menu-icon {
  display: none;
}
.header__text {
  text-transform: uppercase;
  font-weight: 700;
  padding: 0 9px;
}
.header__menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 25px;
}
/* .right__menu > a {
  transition: all 0.3s ease-in;
}
.right__menu > a:hover {
  font-weight: 500;
} */
.header__items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.header__items svg {
  width: 18px;
}
.header__items p {
  flex: 1;
}
.header__items-quatity {
  width: 22px;
  height: 22px;
  border-radius: 100rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-pink);
}
.header__bottom {
  background-color: var(--primary-black);
}
.header__bottom-menu {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header__bottom-items {
  position: relative;
  font-size: 14px;
  font-weight: 700;
  padding: 15px 0;
  color: white;
  text-transform: uppercase;
}
.header__bottom-tags {
  position: absolute;
  bottom: 100%;
  left: 100%;
  transform: translate(-50%, 50%);
  padding: 4px 6px;
  text-transform: uppercase;
  text-transform: capitalize;
  font-size: 12px;
  font-weight: normal;
  border-radius: 2px;
}
.header__bottom-tags-arrow {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: inherit;
  width: 6px;
  height: 6px;
}
.header__bottom-tags--red {
  background-color: var(--tags-red);
}
.header__bottom-tags--blue {
  background-color: var(--tags-blue);
}
.header__bottom-tags--yellow {
  background-color: var(--tags-yellow);
}

.header__toggle-menu {
  display: none;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.05);
  z-index: 9999;
  padding: 25px;
}
.header__toggle-menu--open {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.header__toggle-my-func {
  display: none;
}
